body {
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-size: 20px;
    text-align: center;
    padding: 1cm;
    background-color: black;
    color: white;
    border: 0px;
    margin: -1cm -1cm 0cm -1cm;
}

.searchbar{
    text-align: center;
    
}

