body {
    background-color: coral;
    font-style: ;
}

header{
    font-size: 20px;
    text-align: center;
    padding: 1cm;
    background-color: black;
    color: white;
}

.searchbar{
    text-align: center;
}